@model IEnumerable<demo.Models.deptMaster>


<h2>Add New Department</h2>
<p>
    <br />
    @Html.ActionLink("Add Department", "Add", "", new { @class = "btn btn-info" })
</p>
<div class="row">
    <div class="col-md-12" style="color:brown">
        @ViewBag.AlertMsg

    </div>
    <div class="col-md-12" style="color:green">
        @ViewBag.Message
    </div>
</div>

<table class="table table-responsive table-bordered table-striped" id="Table1">
    <tr>
        <th>
            Department Name
        </th>
        <th>Action</th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.deptName)
            </td>
            <td width="15%">

                @Html.ActionLink("Edit", "Edit", new { id = item.deptId }, new { @class = "btn btn-success" })

                @Html.ActionLink("Delete", "DeleteData", new { id = item.deptId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this data?');" })
            </td>
        </tr>
    }



</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Table1').DataTable();
    });

</script>